<a href="https://colab.research.google.com/github/camilo1124/Algoritmos_2022-2/blob/main/ccardenasv_UNAL_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
#Concatenación de cadenas en principio similar a java
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

print("ejemplo "+"de prueba ")

Welcome to QuantConnect
ejemplo de prueba

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))
#este print devuelve el tipo de dato que retorna la funcion type
#seria un tipo type
#interesante que no sea str o string
print(type(type(my_int)))

10
<class 'int'>
<class 'type'>

The built-in function int() can convert a string into an integer.

In [ ]:
#lo conocia como casting, bastante necesario 
# a veces en python considerandolo que en algunas
#ocasiones necesitaremos especificar
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))
flo=3.54
print(type(flo))
#uso de casting y la funcion type
print("el tipo de dato es "+str(type(flo)))

<class 'float'>
<class 'float'>
el tipo de dato es <class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))
#en un lenguaje como python no podria hacer my_bool = 1
#y esperar que ese resultado sea true
my_bool=1
print(my_bool)

False
<class 'bool'>
1

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
#el operados de exponenciación es bastante facil e intiutivo (**)
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
#es un comportamiento esperable y deseable.
#Considero que es mejor que en la primera operación 
#sea float y no int o sea 0
print(1/3)
print(1.0/3)

print(type(1/3))
print(type(1.0/3))

0.3333333333333333
0.3333333333333333
<class 'float'>
<class 'float'>

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
#muy util imprimir la lista de esta manera,
#ya que permite hacer depuracion facilmente
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect']
['Quant', 'Connect', 1, 2, 3]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])
#como curiosidad se pueden utilizar indices negativos tambien
#nos pueden dar el arreglo en otro orden
print(my_list[-1])

5
Quant
3
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
#modificacion de elementos de la lista
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])
#El recorrido me da una lista contenida en la original
print(type(my_list))
print(type(my_list[1:3]))
print(type(my_list[3]))

['Connect', 1]
<class 'list'>
<class 'list'>
<class 'int'>

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
#tener en cuenta que va hasta la posicion n-1 [:n-1]
#siendo n<len(my_list) y n>0
print(my_list[:3])

['Quant', 'Connect', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)
# .remove(arg) arg = elemento de la lista
#mas no posicion del elemento
my_list.remove('Quant')
print(my_list)

['Hello', 'Quant', 'Hello']
['Hello', 'Hello']

In [ ]:

my_list.remove('Hello')
print(my_list)

['Hello']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
#primera diferencia parentesis en vez de llaves
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [ ]:
#similar a lista
my_tuple = ('Welcome','to','QuantConnect')

print(my_tuple[1:])

('to', 'QuantConnect')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
#por la definicion de arriba deduzco que la caracteristica
#del set (conjunto) es que no hay elementos repetidos
#similarmente como ocurre con la def matematica
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)
print(type(stock_set))
stock_list2 = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG','AAPL']
stock_set2 = set(stock_list)
print(stock_set2)
#No sabia el uso de sets para deshacerse de repetidos

{'IBM', 'AAPL', 'F', 'FB', 'GOOG'}
<class 'set'>
{'IBM', 'AAPL', 'F', 'FB', 'GOOG'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
#mod con funciones propias
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

dic_tel ={'Camilo':242342342,'Andres':243243124,'juan':342432432}
poblacion ={'Bogota':'8m','medellin':'3m'}
print(my_dic('FB'))
print(dic_tel)
print(poblacion['Bogota'])

{'Camilo': 242342342, 'Andres': 243243124, 'juan': 342432432}
8m

In [ ]:
print(my_dic['GOOG'])

Alphabet

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
#Manipulacion del contenido y tipo de dato
dic_tel['Camilo'] = 'No aplica'
print(dic_tel['Camilo'])
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

No aplica
Alphabet Company

We can also change the value associated with a specified key:

In [ ]:
#importante para no olvidar las llaves
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
#Manipulación de sub-cadenas
print(my_str[8:])
#variantes [n:m]

print(my_str[:5])
print(my_str[2:7])

to QuantConnect
Welco
lcome

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
#funciones de los objetos tipo cadena contar un determinado 
#simbolo, encontrar y remplazar un simbolo por otro
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
#Partir cadenas es uno de los metodos más importantes
#a la hora de recibir inputs
#En este caso se utiliza la función split(arg) arg = simbolo que señaliza donde
#se parte
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
#la siguiente cadena por medio de la funcion format me permite
#ingresar valores en donde este '{}' esta cadena
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

Another way to format a string is to use the % symbol.

In [ ]:
#De una manera similar a c se puede especificar el orden y tipo de dato
#que va tener una cadena
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))
#funciones para comprobar cómo funciona
print(type('the pi number is %f'%3.14))
print(type('%s to %s'%('Welcome','Quantconnect')))

the pi number is 3.140000
Welcome to Quantconnect
<class 'str'>
<class 'str'>

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
#mismo elemnto
print(1 == 0)
print(1 == 1)
#difrenete elemento
print(1 != 0)
#mayor o igual
print(5 >= 5)
print(5 >= 6)
#menor o igual
print(5 <= 5)
#solo mayor
print(5 > 6)

False
True
True
True
False
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
#el uso de la conjuncion y la disyuncion
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
#el uso de parentesis para mejorar la legibilidad de nuestro codigo
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
#uso del condicional
#if (condicion es verdadero):
#   Ejecuto el cuerpo
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
#Importante tener buenas bases de logica propocicional
#Esta porcion de codigo lo demuestra
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
#Es un codigo que representa un ciclo while
#mientras una condicion sea verdadera
#la porcion de codigo dentro del while se ejecutar
i = 0
while i < 5:
    print(i)
    print("Soy verdadero :P")
    i += 1

0
Soy verdadero :P
1
Soy verdadero :P
2
Soy verdadero :P
3
Soy verdadero :P
4
Soy verdadero :P

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
#tengo entendido que python permite abreviar 
#los ciclos
#esta es una manera de recorrer el arreglo
#i es el contenido del arreglo
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
#se hace uso de la notacion abreviada de ciclo y condicional
#python por defecto viene con facilidades para manejar
#listas, arreglos y conjuntos
# a diferencia de c.
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []

for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
#break rompe el ciclo en el que esta, si hubiese otro externo
#no lo detendria
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
#Salta una iteracion
#Y en ciertos casos, es comveniente
#para ahorrar lineas de codigo
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:

    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
#uso de ciclos para inicializar un arreglo
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [ ]:
#Forma abreviada de usar un ciclo para inicializar un arreglo
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
#el uso de 2 ciclos para imprimir una lista 
#el ahorro de codigo es interesante
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
#El uso de dos linas para filtrar 2 arreglos
#Normalmente en otro lenguaje esto demandaria
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
#uso de funciones
#bastante normal por ahora
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
#uso de def en vez del tipo de dato
#esperable de python
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
#range es muy util
#que bueno que venga en python por defecto
print(range(10))
print(range(1,11))
print(range(1,11,2))

print(list(range(1,11,2)))

range(0, 10)
range(1, 11)
range(1, 11, 2)
[1, 3, 5, 7, 9]

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
#len(objeto) devuelve la longitud del objeto
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
list= [2,3]
print(list)
del list
#list

[2, 3]

In [ ]:
#interesante uso para mapear la longitud de los elementos
#con los elementos de ticker 
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
#igual pero con print
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
#tengo entendido que son funciones inline
#es practico usarlas
#he usado funciones anonimas en octave
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
#mapa = listas de la misma lingitud , entendido.
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
#Bastante facil en principio 
#ordenar
#que algoritmos usará?
#cual es el rendimiento?
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
#ordenado por numero
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
#orden de forma descendente
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
#funcion sort pero esta vez invocada por la lista de duplas
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
#Definicion de clase (constructores y metodos)
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
#instanciacion de un objeto de la clase
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
#uso de los metodos de la clase
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
#se agrega un atributo en cualquier momento
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
#Util como una especie de documentacion
#para nuestras clases
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
#herencia en python
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
#uso de esta biblioteca 
#bastante importante para la
#cuestion matematica especialmente
#calculo y probabilidad
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
#El arreglo que forma la biblioteca numpy
#tupla de enteros no negativos
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:

#arreglo bidimensional
#forma una especie de matriz
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
#nos muestra sus dimensiones
print(Ar.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
#Accedemos a lo que parecen ser las filas
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [ ]:
#Acceso a las columnas
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
#np nos permite hacer operaciones a cada elento del arreglo
#de la siguiente manera
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [ ]:
#diferentes operaciones al arreglo price_array
#media, desviacion estandar, suma y maximo elemento
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
#Pandas: tengo entendido que es una biblioteca
#bastante popular en la ciencia de datos
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
#por medio de una lista de python podemos crear 
#las series de panda un arrglo capaz de contener cualquier tipo
#de dato
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [ ]:
#Algo parecido a un diccionario pero en pandas
#especificar indices
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
#Alterar solo los indices
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
#visializacion de las series
#manipulando los indices
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
#Usando la llave se puede modificar el valor
print(s[4])
s[4] = 0
print(s)

0.0
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
#Agregar etiquetas como el nombre
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [ ]:
#datos estadisticos sobre el arreglo
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
#Etiquetas de tiempo
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
#Imprimir u obtener detalles de un elemento en particular
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
#forma alternativa de acceder a un elemento
print(s.iloc[1])

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
#agregar como indices fechas
s.index = time_index
print(s['2017-01-03'])

143.68

We can even access to a range of dates:

In [ ]:
#En este caso se remplazaron indices enteros por fechas
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
#Esto es más estadistico
#Pero la gracia es que pandas nos permite 
#ser flexibles con los datos
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [1]:
!pip install yfinance
#uso de pip para instalar paquetes de python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 617 kB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [2]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data

#usar los indexes de tiempo anteriormente vistos en trading
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 154000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.3343, 'profitMargins': 0.25709, 'grossMargins': 0.43313998, 'operatingCashflow': 118224003072, 'revenueGrowth': 0.019, 'operatingMargins': 0.30533, 'ebitda': 129556996096, 'targetLowPrice': 136, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 83344621568, 'targetMedianPrice': 185, 'currentPrice': 171.52, 'earningsGrowth': -0.077, 'currentRatio': 0.865, 'returnOnAssets': 0.22204, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 183.76, 'debtToEquity': 205.984, 'returnOnEquity': 1.62816, 'targetHighPrice': 220, 'totalCash': 48230998016, 'totalDebt': 119691001856, 'totalRevenue': 387541991424, 'totalCashPerShare': 3.001, 'financialCurrency': 'USD', 'revenuePerShare': 23.732, 'quickRatio': 0.697, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.297, 'beta3Year': None, 'enterpriseToEbitda': 21.828, '52WeekChange': 0.14568162, 'morningStarRiskRating': None, 'forwardEps': 6.44, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16070800384, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.61, 'sharesShort': 107535584, 'sharesPercentSharesOut': 0.0067000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59714, 'netIncomeToCommon': 99632996352, 'trailingEps': 6.05, 'lastDividendValue': 0.23, 'SandP52WeekChange': -0.056043804, 'priceToBook': 47.512466, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1656115200, 'shortRatio': 1.47, 'sharesShortPreviousMonthDate': 1656547200, 'floatShares': 16053234880, 'beta': 1.230174, 'enterpriseValue': 2827915362304, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1659657600, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.106, 'priceToSalesTrailing12Months': 7.1126842, 'dateShortInterest': 1659052800, 'pegRatio': 3.01, 'ytdReturn': None, 'forwardPE': 26.633541, 'lastCapGain': None, 'shortPercentOfFloat': 0.0067000003, 'sharesShortPriorMonth': 112994371, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 174.15, 'regularMarketOpen': 173.03, 'twoHundredDayAverage': 160.461, 'trailingAnnualDividendYield': 0.005110537, 'payoutRatio': 0.1471, 'volume24Hr': None, 'regularMarketDayHigh': 173.74, 'navPrice': None, 'averageDailyVolume10Day': 64119090, 'regularMarketPreviousClose': 174.15, 'fiftyDayAverage': 151.3188, 'trailingAnnualDividendRate': 0.89, 'open': 173.03, 'toCurrency': None, 'averageVolume10days': 64119090, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.92, 'exDividendDate': 1659657600, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 171.3101, 'currency': 'USD', 'trailingPE': 28.350412, 'regularMarketVolume': 70346295, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2756463820800, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 76763275, 'dayLow': 171.3101, 'ask': 170.75, 'askSize': 900, 'volume': 70346295, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.05, 'fiftyTwoWeekLow': 129.04, 'bid': 170.71, 'tradeable': False, 'dividendYield': 0.0054, 'bidSize': 900, 'dayHigh': 173.74, 'coinMarketCapLink': None, 'regularMarketPrice': 171.52, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.1143}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.523350,24.156081,23.383508,24.151495,270597600,0.0,0
2016-01-05,24.243197,24.266121,23.477502,23.546276,223164000,0.0,0
2016-01-06,23.053389,23.468333,22.895207,23.085484,273829600,0.0,0
2016-01-07,22.622398,22.954810,22.106586,22.111170,324377600,0.0,0
2016-01-08,22.592599,22.720978,22.182241,22.228090,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.594669,41.770878,41.551809,41.673248,65397600,0.0,0
2017-12-26,40.670768,40.830307,40.404072,40.616001,132742000,0.0,0
2017-12-27,40.504086,40.666006,40.411220,40.623146,85992800,0.0,0
2017-12-28,40.718403,40.920806,40.594580,40.737453,65920800,0.0,0
2017-12-29,40.604100,40.620767,40.294545,40.296925,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [3]:
#Evalua los precios en que las acciones cerraron
aapl = aapl_table['Close']['2017']

In [4]:
print(aapl)

Date
2017-01-03    27.219831
2017-01-04    27.189369
2017-01-05    27.327635
2017-01-06    27.632288
2017-01-09    27.885393
                ...
2017-12-22    41.673248
2017-12-26    40.616001
2017-12-27    40.623146
2017-12-28    40.737453
2017-12-29    40.296925
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [5]:
#Forma de filtrar la informacion
print(aapl['2017-3'])

Date
2017-03-01    32.901913
2017-03-02    32.706558
2017-03-03    32.899559
2017-03-06    32.795998
2017-03-07    32.838367
2017-03-08    32.715984
2017-03-09    32.640652
2017-03-10    32.748928
2017-03-13    32.763046
2017-03-14    32.713631
2017-03-15    33.059616
2017-03-16    33.113747
2017-03-17    32.948994
2017-03-20    33.294991
2017-03-21    32.913689
2017-03-22    33.285568
2017-03-23    33.167877
2017-03-24    33.101967
2017-03-27    33.158466
2017-03-28    33.845737
2017-03-29    33.921055
2017-03-30    33.876331
2017-03-31    33.812786
Name: Close, dtype: float64

In [7]:
#Filtra del mes 2 al 4 del 2017
#Similar al uso convencional de listas
aapl['2017-2':'2017-4']

Date
2017-02-01    30.172653
2017-02-02    30.121092
2017-02-03    30.249989
2017-02-06    30.533554
2017-02-07    30.824152
                ...
2017-04-24    33.808086
2017-04-25    34.017555
2017-04-26    33.817493
2017-04-27    33.843384
2017-04-28    33.810429
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [8]:
#De manera similar a las listas imprimo los primeros 5 y los ultimos 10
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.219831
2017-01-04    27.189369
2017-01-05    27.327635
2017-01-06    27.632288
2017-01-09    27.885393
Name: Close, dtype: float64
Date
2017-12-15    41.425598
2017-12-18    42.009007
2017-12-19    41.561340
2017-12-20    41.516098
2017-12-21    41.673248
2017-12-22    41.673248
2017-12-26    40.616001
2017-12-27    40.623146
2017-12-28    40.737453
2017-12-29    40.296925
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [13]:
#mes y media
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.021313
2017-02-28    31.430153
2017-03-31    33.096759
2017-04-30    33.630812
2017-05-31    35.924379
2017-06-30    34.938205
2017-07-31    35.048844
2017-08-31    37.686053
2017-09-30    37.395191
2017-10-31    37.444726
2017-11-30    41.004146
2017-12-31    40.930679
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [12]:
#por semana
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.342281
2017-01-15    27.941167
2017-01-22    28.108608
2017-01-29    28.394868
2017-02-05    29.497253
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [11]:
#el maximo por mes
aapl.resample('M').max()

Date
2017-01-31    28.579067
2017-02-28    32.271133
2017-03-31    33.921055
2017-04-30    34.074051
2017-05-31    36.892414
2017-06-30    36.738777
2017-07-31    36.268471
2017-08-31    38.911678
2017-09-30    38.923546
2017-10-31    40.107506
2017-11-30    41.815811
2017-12-31    42.009007
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [14]:
#Arguento de resample util para acotar mis resultados por fechas
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.245612
2017-01-06    27.632288
2017-01-09    27.954134
2017-01-12    27.921717
2017-01-15    28.122082
                ...
2017-12-17    41.785173
2017-12-20    41.620865
2017-12-23          NaN
2017-12-26    40.658867
2017-12-29    40.296925
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.342281
2017-01-22    28.015585
2017-02-05    28.946060
2017-02-19    31.341192
2017-03-05    32.413920
2017-03-19    32.833896
2017-04-02    33.437847
2017-04-16    33.661107
2017-04-30    33.603547
2017-05-14    35.498715
2017-05-28    36.292806
2017-06-11    36.311531
2017-06-25    34.336637
2017-07-09    34.074198
2017-07-23    35.082285
2017-08-06    36.070654
2017-08-20    37.692907
2017-09-03    38.244486
2017-09-17    38.069383
2017-10-01    36.635582
2017-10-15    36.865020
2017-10-29    37.546922
2017-11-12    40.803593
2017-11-26    40.974771
2017-12-10    40.639342
2017-12-24    41.388939
2018-01-07    40.568381
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.021313
2017-03-31    32.342818
2017-05-31    34.861506
2017-07-31    34.990890
2017-09-30    37.550768
2017-11-30    39.183047
2018-01-31    40.930679
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [15]:
#Otros tipos de medidas estadisticas pueden ser usador y acotados
#en este caso por semana.
#las operaciones son desviacion estandar, minimos y maximos
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.202233
2017-01-15    0.072123
2017-01-22    0.025412
2017-01-29    0.243919
2017-02-05    0.938004
2017-02-12    0.250595
2017-02-19    0.230105
2017-02-26    0.059015
2017-03-05    0.338197
2017-03-12    0.075861
2017-03-19    0.176843
2017-03-26    0.156390
2017-04-02    0.318025
2017-04-09    0.127975
2017-04-16    0.211293
2017-04-23    0.173698
2017-04-30    0.089522
2017-05-07    0.234330
2017-05-14    0.351015
2017-05-21    0.533109
2017-05-28    0.060055
2017-06-04    0.279657
2017-06-11    0.616580
2017-06-18    0.380433
2017-06-25    0.128178
2017-07-02    0.262639
2017-07-09    0.158003
2017-07-16    0.402031
2017-07-23    0.124297
2017-07-30    0.382303
2017-08-06    0.919239
2017-08-13    0.464859
2017-08-20    0.432826
2017-08-27    0.274234
2017-09-03    0.250321
2017-09-10    0.379511
2017-09-17    0.292501
2017-09-24    0.731098
2017-10-01    0.352865
2017-10-08    0.203715
2017-10-15    0.118066
2017-10-22    0.514114
2017-10-29    0.676665
2017-11-05    0.557558
2017-11-12    0.189905
2017-11-19    0.433763
2017-11-26    0.559909
2017-12-03    0.425064
2017-12-10    0.072726
2017-12-17    0.204115
2017-12-24    0.193044
2017-12-31    0.189333
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.632288
2017-01-15    28.063494
2017-01-22    28.122082
2017-01-29    28.579067
2017-02-05    30.249989
2017-02-12    31.167261
2017-02-19    31.943970
2017-02-26    32.271133
2017-03-05    32.901913
2017-03-12    32.838367
2017-03-19    33.113747
2017-03-26    33.294991
2017-04-02    33.921055
2017-04-09    34.074051
2017-04-16    33.697456
2017-04-23    33.525639
2017-04-30    34.017555
2017-05-07    35.060238
2017-05-14    36.892414
2017-05-21    36.797859
2017-05-28    36.393723
2017-06-04    36.738777
2017-06-11    36.719875
2017-06-18    34.644821
2017-06-25    34.585739
2017-07-02    34.465210
2017-07-09    34.075249
2017-07-16    35.223854
2017-07-23    35.691807
2017-07-30    36.268471
2017-08-06    37.138199
2017-08-13    38.064636
2017-08-20    38.342239
2017-08-27    37.957870
2017-09-03    38.923546
2017-09-10    38.456123
2017-09-17    38.318516
2017-09-24    37.661285
2017-10-01    36.593578
2017-10-08    36.868820
2017-10-15    37.248436
2017-10-22    38.074120
2017-10-29    38.686279
2017-11-05    40.928440
2017-11-12    41.815811
2017-11-19    41.425598
2017-11-26    41.663731
2017-12-03    41.454189
2017-12-10    40.432655
2017-12-17    41.425598
2017-12-24    42.009007
2017-12-31    40.737453
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.189369
2017-01-15    27.885393
2017-01-22    28.070526
2017-01-29    28.115049
2017-02-05    28.438457
2017-02-12    30.533554
2017-02-19    31.372025
2017-02-26    32.134621
2017-03-05    32.228767
2017-03-12    32.640652
2017-03-19    32.713631
2017-03-26    32.913689
2017-04-02    33.158466
2017-04-09    33.737469
2017-04-16    33.198475
2017-04-23    33.111393
2017-04-30    33.808086
2017-05-07    34.488285
2017-05-14    36.013470
2017-05-21    35.509808
2017-05-28    36.240101
2017-06-04    36.103027
2017-06-11    35.209671
2017-06-18    33.623840
2017-06-25    34.271404
2017-07-02    33.957081
2017-07-09    33.732559
2017-07-16    34.283230
2017-07-23    35.346741
2017-07-30    35.332561
2017-08-06    35.150589
2017-08-13    36.852219
2017-08-20    37.369450
2017-08-27    37.300632
2017-09-03    38.311401
2017-09-10    37.637562
2017-09-17    37.554516
2017-09-24    36.038380
2017-10-01    35.720448
2017-10-08    36.415642
2017-10-15    36.975590
2017-10-22    37.008804
2017-10-29    37.053886
2017-11-05    39.557041
2017-11-12    41.343658
2017-11-19    40.261211
2017-11-26    40.475517
2017-12-03    40.356457
2017-12-10    40.244534
2017-12-17    40.885082
2017-12-24    41.516098
2017-12-31    40.296925
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [17]:
#Ultimo dia de cada mes usando el indice -1
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.438457
2017-02-28    32.242878
2017-03-31    33.812786
2017-04-30    33.810429
2017-05-31    36.103027
2017-06-30    34.037434
2017-07-31    35.150589
2017-08-31    38.911678
2017-09-30    36.567482
2017-10-31    40.107506
2017-11-30    40.920792
2017-12-31    40.296925
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [19]:
#manera de calcular "el retorno o dividendos"
#dentro de cierto periodo de tiempo
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060531
2017-10-31    0.099019
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [20]:
#metodos que me dan facil el resultado de una operacion estadistica
#media, desviacion estandar y maximos
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863283022258155
0.05225850044585062
0.09901851899277325

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [22]:
#diferencial y porcentaje de cambio
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.804420
2017-03-31    1.569908
2017-04-30   -0.002357
2017-05-31    2.292599
2017-06-30   -2.065594
2017-07-31    1.113155
2017-08-31    3.761089
2017-09-30   -2.344196
2017-10-31    3.540024
2017-11-30    0.813286
2017-12-31   -0.623867
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133777
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [24]:
#porcentaje de cambio del dia
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133777
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [25]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133777
2017-02-28    0.133777
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [27]:
#remover valores vacios
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133777
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [29]:
#dataframes como tablas
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [30]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.673248
2017-12-26    40.616001
2017-12-27    40.623146
2017-12-28    40.737453
2017-12-29    40.296925
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [32]:
#Acotamiento de datos en tablas
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199  257666000        0.0
2016-02-29  22.325658  22.641435  22.277254  22.286474  140865200        0.0
2016-03-31  25.289805  25.331294  25.096189  25.121544  103553600        0.0
2016-04-30  21.664134  21.832395  21.323003  21.606510  274126000        0.0
2016-05-31  23.096984  23.282503  22.916105  23.157278  169228800        0.0
2016-06-30  21.900386  22.208808  21.867920  22.169386  143345600        0.0
2016-07-31  24.161392  24.244875  24.043124  24.166029  110934800        0.0
2016-08-31  24.635018  24.847187  24.630354  24.737604  118649600        0.0
2016-09-30  26.220461  26.432632  26.066581  26.358023  145516400        0.0
2016-10-31  26.497908  26.633138  26.392988  26.472261  105677600        0.0
2016-11-30  26.153532  26.294142  25.841845  25.900433  144649200        0.0
2016-12-31  27.337010  27.465901  27.051101  27.142498  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

We may select certain columns of a DataFrame using their names:

In [33]:
#Filtrar columnas de una tabla
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199
2016-02-29  22.325658  22.641435  22.277254  22.286474
2016-03-31  25.289805  25.331294  25.096189  25.121544
2016-04-30  21.664134  21.832395  21.323003  21.606510
2016-05-31  23.096984  23.282503  22.916105  23.157278
2016-06-30  21.900386  22.208808  21.867920  22.169386
2016-07-31  24.161392  24.244875  24.043124  24.166029
2016-08-31  24.635018  24.847187  24.630354  24.737604
2016-09-30  26.220461  26.432632  26.066581  26.358023
2016-10-31  26.497908  26.633138  26.392988  26.472261
2016-11-30  26.153532  26.294142  25.841845  25.900433
2016-12-31  27.337010  27.465901  27.051101  27.142498

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [34]:
#Filtrar columnas y filas 
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.289805  25.331294  25.096189  25.121544
2016-04-30  21.664134  21.832395  21.323003  21.606510
2016-05-31  23.096984  23.282503  22.916105  23.157278
2016-06-30  21.900386  22.208808  21.867920  22.169386

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [36]:
import numpy as np
#subconjunto de conjunto de datos
#usando tablas
above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.289805  25.331294  25.096189  25.121544
2016-08-31  24.635018  24.847187  24.630354  24.737604
2016-09-30  26.220461  26.432632  26.066581  26.358023
2016-10-31  26.497908  26.633138  26.392988  26.472261
2016-11-30  26.153532  26.294142  25.841845  25.900433
2016-12-31  27.337010  27.465901  27.051101  27.142498

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [38]:
#Se agrega una columna a una estructura de datos ya existente
#En este caso rate return
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199          NaN
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127210
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096984  23.282503  22.916105  23.157278     0.071773
2016-06-30  21.900386  22.208808  21.867920  22.169386    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652
2016-09-30  26.220461  26.432632  26.066581  26.358023     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153532  26.294142  25.841845  25.900433    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [40]:
#manipulacion de valores nulos
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [41]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [43]:
#Al igual con los arreglos, en las tablas podemos deshacernos de valores nulos
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127210
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096984  23.282503  22.916105  23.157278     0.071773
2016-06-30  21.900386  22.208808  21.867920  22.169386    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652
2016-09-30  26.220461  26.432632  26.066581  26.358023     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153532  26.294142  25.841845  25.900433    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199     0.000000
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127210
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096984  23.282503  22.916105  23.157278     0.071773
2016-06-30  21.900386  22.208808  21.867920  22.169386    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652
2016-09-30  26.220461  26.432632  26.066581  26.358023     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153532  26.294142  25.841845  25.900433    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [45]:
#Una estructura de datos o data frame se puede concatenar con otra
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [47]:
#Similar a una base de datos podemos unir 2 dataframes por columnas
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.105268
2016-02-29    3.103980
2016-03-31    3.223726
2016-04-30    3.072995
2016-05-31    3.142309
2016-06-30    3.098712
2016-07-31    3.184948
2016-08-31    3.208325
2016-09-30    3.271773
2016-10-31    3.276097
2016-11-30    3.254260
2016-12-31    3.301101
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199          NaN   3.105268
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287   3.103980
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127210   3.223726
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921   3.072995
2016-05-31  23.096984  23.282503  22.916105  23.157278     0.071773   3.142309
2016-06-30  21.900386  22.208808  21.867920  22.169386    -0.042660   3.098712
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063   3.184948
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652   3.208325
2016-09-30  26.220461  26.432632  26.066581  26.358023     0.065504   3.271773
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334   3.276097
2016-11-30  26.153532  26.294142  25.841845  25.900433    -0.021601   3.254260
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955   3.301101

We can also join two DataFrames by rows. Consider these two DataFrames:

In [48]:
#La union no solo puede ocurrir por columnas sino tambien por filas como en 
#este caso
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.497908  26.633138  26.392988  26.472261
2016-11-30  26.153532  26.294142  25.841845  25.900433
2016-12-31  27.337010  27.465901  27.051101  27.142498
2017-01-31  28.391588  28.447832  28.267382  28.438457
2017-02-28  32.264060  32.348792  32.174620  32.242878
2017-03-31  33.826908  33.956360  33.659796  33.812786
2017-04-30  33.913991  33.963419  33.720992  33.810429

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [50]:
#Union de 2 dataframes
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199          NaN
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127210
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096984  23.282503  22.916105  23.157278     0.071773
2016-06-30  21.900386  22.208808  21.867920  22.169386    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652
2016-09-30  26.220461  26.432632  26.066581  26.358023     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153532  26.294142  25.841845  25.900433    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [51]:
#Se puede hacer un inner join es decir con elementos en comun
#Esto tambien se ve en la materia bases de datos
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153532  26.294142  25.841845  25.900433    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [52]:
#Agregar un dataframe al final muy similar al append de las listas
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199          NaN
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127210
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096984  23.282503  22.916105  23.157278     0.071773
2016-06-30  21.900386  22.208808  21.867920  22.169386    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652
2016-09-30  26.220461  26.432632  26.066581  26.358023     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153532  26.294142  25.841845  25.900433    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955
2016-10-31  26.497908  26.633138  26.392988  26.472261          NaN
2016-11-30  26.153532  26.294142  25.841845  25.900433          NaN
2016-12-31  27.337010  27.465901  27.051101  27.142498          NaN
2017-01-31  28.391588  28.447832  28.267382  28.438457          NaN
2017-02-28  32.264060  32.348792  32.174620  32.242878          NaN
2017-03-31  33.826908  33.956360  33.659796  33.812786          NaN
2017-04-30  33.913991  33.963419  33.720992  33.810429          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [53]:
#una expresion equivalente al append con concat
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199          NaN
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127210
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096984  23.282503  22.916105  23.157278     0.071773
2016-06-30  21.900386  22.208808  21.867920  22.169386    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652
2016-09-30  26.220461  26.432632  26.066581  26.358023     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153532  26.294142  25.841845  25.900433    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955
2016-10-31  26.497908  26.633138  26.392988  26.472261          NaN
2016-11-30  26.153532  26.294142  25.841845  25.900433          NaN
2016-12-31  27.337010  27.465901  27.051101  27.142498          NaN
2017-01-31  28.391588  28.447832  28.267382  28.438457          NaN
2017-02-28  32.264060  32.348792  32.174620  32.242878          NaN
2017-03-31  33.826908  33.956360  33.659796  33.812786          NaN
2017-04-30  33.913991  33.963419  33.720992  33.810429          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [54]:
#union de dataframes
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.730612  22.315199  21.629742  22.315199          NaN        NaN
2016-02-29  22.325658  22.641435  22.277254  22.286474    -0.001287        NaN
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127210        NaN
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921        NaN
2016-05-31  23.096984  23.282503  22.916105  23.157278     0.071773        NaN
2016-06-30  21.900386  22.208808  21.867920  22.169386    -0.042660        NaN
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063        NaN
2016-08-31  24.635018  24.847187  24.630354  24.737604     0.023652        NaN
2016-09-30  26.220461  26.432632  26.066581  26.358023     0.065504        NaN
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334        NaN
2016-11-30  26.153532  26.294142  25.841845  25.900433    -0.021601        NaN
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955        NaN
2016-10-31        NaN  26.633138  26.392988  26.472261          NaN  26.497908
2016-11-30        NaN  26.294142  25.841845  25.900433          NaN  26.153532
2016-12-31        NaN  27.465901  27.051101  27.142498          NaN  27.337010
2017-01-31        NaN  28.447832  28.267382  28.438457          NaN  28.391588
2017-02-28        NaN  32.348792  32.174620  32.242878          NaN  32.264060
2017-03-31        NaN  33.956360  33.659796  33.812786          NaN  33.826908
2017-04-30        NaN  33.963419  33.720992  33.810429          NaN  33.913991

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.